@page
@model QuizApp.Pages.Quizzes.IndexModel
@{
    ViewData["Title"] = "Quiz List";
}
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Time Limit (min)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model.Quizzes)
        {
            <tr>
                <td>@quiz.Title</td>
                <td>@quiz.TimeLimitInMinutes</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <text><a asp-page="Edit" asp-route-id="@quiz.Id">Edit</a> | </text>
                        <text> <a asp-page="Delete" asp-route-id="@quiz.Id">Delete</a> | </text>
                    }

                    <a asp-page="Take" asp-route-id="@quiz.Id">Take</a> 

                </td>
            </tr>
        }
    </tbody>

</table>
@if (User.IsInRole("Admin"))
{
    <a asp-page="Create" class="btn btn-primary">Create New Quiz</a>
}
<br />
<br />
<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <text>@TempData["Message"]</text>
    </div>
    
}